.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  min-height: 100vh;
}

.form-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
