.order-form {
  max-width: 60rem;
  /* background-color: var(--grey-regular); */
  background-image: url("https://images.pexels.com/photos/7130497/pexels-photo-7130497.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px 60px;
  border-radius: 5px;
  margin: 15rem 0;
}

.order-form input:last-child {
  margin-bottom: 3rem;
}

.order-form .question {
  font-size: 3rem;
  color: var(--sec-color-regular);
  margin-bottom: 2rem;
}
.order-form .question button {
  font-size: 3rem;
  color: #fff;
  margin: 0 1rem;
  font-family: inherit;
  outline: none;
  border-radius: 0.5rem;
  background-color: var(--sec-color-regular);
  padding: 0.5rem 1rem;
  border: none;
}
.order-form .question button:hover {
  background-color: var(--sec-color-dark);
  color: #ccc;
}
.form-action .disabled {
  opacity: 0.9;
  border: none;
  pointer-events: none;
  font-size: 5rem;
  font-family: "BubblegumSans";
  background-color: var(--grey-dark);
  border-radius: 0.5rem;
  color: #fff;
  padding: 0.5rem 1rem;
}
.form-action button {
  font-size: 5rem;
  color: #fff;
  margin: 3rem 1rem 0;
  font-family: "BubblegumSans";
  outline: none;
  border-radius: 0.5rem;
  background-color: var(--sec-color-regular);
  padding: 0.5rem 1.5rem;
  border: none;
  transition: all 0.6s ease-out;
}
.form-action button:hover {
  background-color: var(--sec-color-dark);
  color: #ccc;
}
form .form-action {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 3rem 0;
}
.header {
  font-size: 10rem;
  color: var(--sec-color-dark);
  text-align: center;
  margin-bottom: 2rem;
}
